# General

.github/
.markdownlint.yaml
bump-version.sh
LICENCE
Makefile
README


# Caerulean

## Whirlpool

caerulean/whirlpool/build
caerulean/whirlpool/generated
caerulean/whirlpool/SeasideVPN
caerulean/whirlpool/tests
caerulean/whirlpool/Dockerfile.*
caerulean/whirlpool/example.conf.env
caerulean/whirlpool/go.sum
caerulean/whirlpool/Makefile
caerulean/whirlpool/README.md
caerulean/whirlpool/conf.env


# Viridian

## Algae

viridian/algae/**/__pycache__
viridian/algae/*.spec
viridian/algae/.pytest_cache
viridian/algae/build
viridian/algae/dist
viridian/algae/docker/compose.*.yml
viridian/algae/docker/Dockerfile.*
viridian/algae/docker/test.conf.env
viridian/algae/scripts
viridian/algae/sources/generated
viridian/algae/poetry.lock
viridian/algae/README.md
