Checks: >
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,

  -readability-braces-around-statements,
  -readability-isolate-declaration

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
